<div class="row">
  <div class="large-8 columns large-centered">  
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset>
        <%= devise_error_messages! %>
        
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :first_name, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.email_field :first_name %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :last_name, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.email_field :last_name %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.email_field :email %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password, "Password", class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password, placeholder: "Leave blank if you don't want to change it", :autocomplete => "off" %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password_confirmation, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :current_password, "Current password", class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :current_password, placeholder: "We need your current password to confirm your changes" %>
          </div>
        </div>
          
        <div class="row">
          <div class="small-8 small-offset-4 columns">
            <%= f.submit "Update", class: "small button expand" %>
          </div>
        </div>
      </fieldset>
    <% end %>


    <div class="panel">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "small button alert" %></p>
    </div> 

  </div>
</div>