<div class="row">
  <div class="large-8 columns large-centered">  
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <fieldset>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :first_name, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :first_name %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :last_name, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :last_name %>
          </div>
        </div>

         <div class="row">
          <div class="small-4 columns">
            <%= f.label :date_of_birth, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.date_field :date_of_birth, :autofocus => true %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password_confirmation, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="row">
          <div class="small-8 small-offset-4 columns">
            <%= f.submit "Sign up", class: "small button expand" %>
          </div>
        </div>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>