<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/">PolyBite</a>
      </h1>
    </li>
  </ul>
  <div class="top-bar-section">
    <ul class="right">
      <li>
        <%= link_to "Learn", links_path %>
      </li>
      <!-- <li><a href="#">Teach</a></li> -->
      <li><a href="#">About</a></li>
      <% if current_user %>
        <li>
          <%= link_to "My profile", user_path(current_user) %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "Edit Account", edit_user_registration_path(current_user) %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>