<div class="container">
  <div class="small-12 columns">
    <h1>Your profile</h1>
  </div>
</div>
<div class="container">
  <div class="small-12 large-3 columns">
    <div class="panel clearfix">
      <%= image_tag @user.gravatar_img, class: "left" %>
      <p class="right"><%= @user.full_name %></p>
    </div>
  </div>
  <div class="small-12 large-9 columns">
    <% @user.links.each do |link| %>
      <div class="panel">
        <h4><%= link_to link.title.html_safe, link.url %></h4>
        <p>By <%= link.author %></p>
      </div>
    <% end %>
  </div>
</div>
