<div class="row">
  <div class="large-8 columns large-centered">  
    <h2>Forgot your password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <fieldset>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="small-4 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>

        <div class="row">
          <div class="small-8 small-offset-4 columns">
            <%= f.submit "Send me reset password instructions", class: "button small expand" %>
          </div>
        </div>
      </fieldset>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>