<div class="panel">
  <h1>All the links</h1>
</div>

<div class="container">
  <div class="small-12 large-4 columns">
    <%= form_for(Link.new) do |f| %>
      <fieldset>
        <legend>Add a link</legend>
        
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :url, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :url, :autofocus => true %>
          </div>
        </div>
        
        <div class="row">
          <div class="small-8 small-offset-4 columns">
            <%= f.submit class: "button small expand" %>
          </div>
        </div>

      </fieldset>
    <% end %>
  </div>
  <div class="small-12 large-8 columns">

    <% @links.each do |link| %>
      
      <h4><%= link_to link.title.html_safe, link.url, target: "blank", class: "index-link", "data-link-id" => link.id, "data-user-id" => current_user.id %></h4>
      <p>By <%= link.author %></p>
      <ul class="inline-list">
        <% link.tags.each do |tag| %>
          <li class="label"><%= tag.name %></li>
        <% end %>
      </ul>
        
    <% end %>
  </div>
</div>