<div class="row">
  <div class="large-8 columns large-centered">
    <%= form_for @link do |f| %>
      <fieldset>
        <legend>Add a link</legend>
        
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :url, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.text_field :url, :autofocus => true %>
          </div>
        </div>
        
        <div class="row">
          <div class="small-8 small-offset-4 columns">
            <%= f.submit class: "button small expand" %>
          </div>
        </div>

      </fieldset>
    <% end %>
  </div>
</div>