<div class="container">
  <div class="small-12 large-8 large-centered columns">
    <h4><%= link_to @link.title.html_safe, @link.url, id: "target-link"  %></h4>
    <p>By <%= @link.author %></p>
    <ul class="inline-list">
      <% @link.tags.each do |tag| %>
        <li class="label"><%= tag.name %></li>
      <% end %>
    </ul>
    <%= form_for Tagging.new, remote: true do |f| %>
      <%= f.hidden_field :link_id, value: @link.id %>
      
      <div class="row">
        <div class="small-2 columns">
          <%= f.label :tag, class: "right inline" %>
        </div>
        <div class="small-10 columns">
          <%= f.text_field :tag %>
        </div>
      </div>

      <div class="row">
        <div class="small-10 small-offset-2 columns">
          <%= f.submit "Add a tag", class: "button small expand" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    window.open($("#target-link").attr("href"),'_blank');
  }) 
</script>