<div class="row">
  <div class="large-8 columns large-centered">  
    <h2>Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :email, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :password, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="row">
          <div class="small-4 columns">
            <%= f.label :remember_me, class: "right inline" %>
          </div>
          <div class="small-8 columns">
            <%= f.check_box :remember_me %>
          </div>
        </div>
        <% end -%>


        <div class="row">
          <div class="small-8 small-offset-4 columns">
            <%= f.submit "Sign in", class: "button small expand" %>
          </div>
        </div>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
